body{
  background-color: color-mix(in srgb, red 5%, blue 10%);
  font-size: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://www.shutterstock.com/shutterstock/photos/1633786861/display_1500/stock-vector-colorful-rock-paper-scissors-hand-game-vector-background-pattern-1633786861.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.heading
{
  color: color-mix(in lab, pink 90%, black 100%);
}
.result
{
  color: red;
}
.comp
{
  color: blue;
}
.user
{
  color: 	#01016f;
}
.image
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}
button {
  background-color: #3498db; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9; 
}